<template>
  <div id="editor">
    <div style="display:flex;flex-direction:column;width:70%;height:100vh;">
      <textarea style="height:100vh" :value="input" @input="update"></textarea>
    </div>
    <div style="display:flex;flex-direction:column;padding:5px">
      <div style="font-size:14pt" v-html="validate"></div>
      <br />
      <div style="font-size:12pt">
        <p>
          This only checks if the YAML and field names are valid. This doesn't
          yet check that the format of the values e.g. dates, lists etc. are
          valid for that field.
        </p>
        <ul>
          <li>
            <a
              href="https://gitlab.com/kasbah/okh-validator/blob/master/required_fields.yaml"
              >Required Fields</a
            >
          </li>
          <li>
            <a
              href="https://gitlab.com/kasbah/okh-validator/blob/master/recommended_fields.yaml"
              >Recommended Fields</a
            >
          </li>
          <li>
            <a
              href="https://gitlab.com/kasbah/okh-validator/blob/master/remaining_fields.yaml"
              >Remaining Fields</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import * as _ from "lodash";
import * as yaml from "yaml";
import * as jsYaml from "js-yaml";

import requiredYaml from "../../required_fields.yaml";
import recommendedYaml from "../../recommended_fields.yaml";
import remainingYaml from "../../remaining_fields.yaml";
import initialYaml from "../../example_okh.yaml";
import fuzzy from "fuzzy";

const storedYaml = localStorage.getItem("okh.yml");

export default {
  name: "Editor",
  data() {
    return {
      required: yaml.parse(requiredYaml),
      recommended: yaml.parse(recommendedYaml),
      remaining: yaml.parse(remainingYaml),
      input: storedYaml || initialYaml
    };
  },
  computed: {
    validate() {
      let js_yaml_error;
      try {
        jsYaml.safeLoad(this.input);
      } catch (e) {
        js_yaml_error = e;
      }
      const doc = yaml.parseDocument(this.input, { prettyErrors: true });
      if (
        doc.errors.length > 0 ||
        doc.warnings.length > 0 ||
        js_yaml_error != null
      ) {
        let yaml_error = doc.errors[0] || doc.warnings[0];
        if (yaml_error != null) {
          yaml_error = yaml_error.message;
        } else if (js_yaml_error != null) {
          yaml_error = js_yaml_error;
        }
        return (
          yaml_error +
          `<br/><br/>Please use <a href=http://www.yamllint.com>yamllint.com</a> to check your YAML first.`
        );
      }
      const manifest = doc.toJSON();
      const keys = Object.keys(manifest);
      const required = this.required;
      const recommended = this.recommended;
      const remaining = this.remaining;
      const missing = required.filter(k => manifest[k] == null);
      const link_included =
        keys.includes("documentation-home") || keys.includes("project-link");
      if (!link_included) {
        missing.push("project-link OR documentation-home");
      }
      const valid = missing.length === 0 && link_included;
      let percent =
        (recommended.reduce((p, k) => (manifest[k] != null ? p + 1 : p), 0) /
          recommended.length) *
        100;
      percent +=
        (remaining.reduce((p, k) => (manifest[k] != null ? p + 1 : p), 0) /
          remaining.length) *
        50;
      const all = required.concat(recommended).concat(remaining);
      const unknown = keys.reduce(
        (p, k) => (!all.includes(k) ? p.concat([k]) : p),
        []
      );
      const suggestions = unknown
        .reduce(
          (p, key) =>
            p.concat(
              fuzzy.filter(key.replace(/-| |_/g, ""), all).map(x => x.string)
            ),
          []
        )
        .filter(onlyUnique);
      return (
        "<pre style='max-width:300px'>" +
        (valid
          ? `valid! quality: ${Math.ceil(percent)}%`
          : `invalid :(\n\nmissing: ${missing.join(", ")}`) +
        (unknown.length > 0
          ? `\nunknown field${unknown.length > 1 ? "s" : ""}: ${unknown.join(
              ", "
            )}`
          : "") +
        (suggestions.length > 0
          ? `\ndid you mean: ${suggestions.join(", ")} ?`
          : "") +
        "</pre>"
      );
    }
  },
  methods: {
    update: _.debounce(function(e) {
      this.input = e.target.value;
      localStorage.setItem("okh.yml", e.target.value);
    }, 300)
  }
};

function onlyUnique(value, index, self) {
  return self.indexOf(value) === index;
}
</script>

<style scoped>
html,
body,
#editor {
  display: flex;
  margin: 0;
  height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  height: 100vh;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: "Monaco", courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}
</style>
